@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

@theme {
  /* Brand Colors */
  --color-primary: #5f6fff;

  /* Custom Grid Template */
  --grid-template-columns-auto: repeat(auto-fill, minmax(200px, 1fr));
}

.active hr {
  @apply block;
}

::-webkit-scrollbar {
  @apply hidden;
}
@media (max-width: 740px) {
  .active p {
    @apply text-white bg-primary;
  }
}
